<header class="header__wrapper">
  <section class="header">
    <img class="header__logo" src="../../assets/images/logo/logo.png" alt="logo" [routerLink]="['/']">
    <nav class="header__nav">
      <input type="checkbox" id="navMovieCheckbox">
      <h3 class="nav__title">
        <label for="navMovieCheckbox" class="title__label">
          Movies <span class="label__arrow">&#9660;</span>
        </label>
      </h3>
      <ul class="nav-wrapper__links">
        <li class="nav__links" [routerLink]="['/movies/top-rated']" routerLinkActive="router-link-active">
          Top Rated
        </li>
        <li class="nav__links" [routerLink]="['/movies/popular']" routerLinkActive="router-link-active">
          Popular
        </li>
        <li class="nav__links" [routerLink]="['/movies/now-playing']" routerLinkActive="router-link-active">
          Now Playing
        </li>
        <li class="nav__links" [routerLink]="['/movies/upcoming']" routerLinkActive="router-link-active">
          Upcoming
        </li>
      </ul>
      <input type="checkbox" id="navShowsCheckbox">
      <h3 class="nav__title">
        <label for="navShowsCheckbox" class="title__label">
          TV Shows <span class="label__arrow">&#9660;</span>
        </label>
      </h3>
      <ul class="nav-wrapper__links2">
        <li class="nav__links" [routerLink]="['/shows/top-rated-tv']" routerLinkActive="router-link-active">
          Top Rated
        </li>
        <li class="nav__links" [routerLink]="['/shows/popular-tv']" routerLinkActive="router-link-active">
          Popular
        </li>
        <li class="nav__links" [routerLink]="['/shows/airing-today']" routerLinkActive="router-link-active">
          Airing today
        </li>
        <li class="nav__links" [routerLink]="['/shows/on-the-air']" routerLinkActive="router-link-active">
          On TV
        </li>
      </ul>
      <h3 class="nav__title-people" [routerLink]="['/people/popular']" routerLinkActive="active-title">
        Popular people
      </h3>
    </nav>
  </section>
</header>