@import '../../assets/styles/case.scss';

.header__wrapper{
  position: fixed;
  z-index: 10;
  width: 100%;
  background:transparent;
  .header{
    position: relative;
    margin: auto;
    width: 1340px;
    .header__logo{
      position: relative;
      right: 18px;
      display: block;
      height: 100px;
      outline: none;
    }
    .header__logo{
      cursor: pointer;
    }
    .header__nav{
      position: absolute;
      top: 115px;
      left: 0px;
      width: 12%;
      height: 100vh;
      background:transparent;
      .nav-wrapper__links,
      .nav-wrapper__links2{
        height: 0px;
        padding-left: 10px;
        list-style-type: none;
        transition: height 0.2s;
        overflow: hidden;
      }
      #navMovieCheckbox,
      #navShowsCheckbox{
        display: none;
      }
      #navMovieCheckbox:checked ~ .nav-wrapper__links,
      #navShowsCheckbox:checked ~ .nav-wrapper__links2{
        height: 120px;
      }
      #navMovieCheckbox:checked + .nav__title,
      #navShowsCheckbox:checked + .nav__title{
        color: #fff;
      }
      
      .nav__title{
        color: #aaa;
        margin: 15px 0;
        .title__label{
          transition: all 0.2s;
          user-select: none;
          .label__arrow{
            position: absolute;
            margin-left: 5px;
            transition: all 0.2s;
          }
        }
        .title__label:hover{
          color: #fff;
          cursor: pointer;
        }
      }
      #navMovieCheckbox:checked + .nav__title >.title__label > .label__arrow,
      #navShowsCheckbox:checked + .nav__title >.title__label > .label__arrow{
        transform: rotate(180deg);
      }
      .nav__links,
      .nav__title-people{
        color: #aaa;
        text-decoration: none;
        margin-bottom: 6px;
        padding-bottom: 5px;
        background-image: linear-gradient(#fff, #fff);
        background-size: 0 3px, auto;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: all .2s ease-out;
        outline: none;
      }
      .nav__title-people{
        margin: 15px 0;
      }
      .nav__links:hover,
      .nav__title-people:hover{
        color: #fff;
        background-size: 55% 3px, auto;
        cursor: pointer;
      }
      .nav__title-people:hover{
        background-size: 75% 3px, auto;
      }
      
      .router-link-active,
      .active-title{
        color: #fff;
        background-image: linear-gradient(rgb(0, 153, 255), rgb(0, 153, 255));
        background-size: 55% 3px, auto;
      }
      .active-title{
        background-size: 75% 3px, auto;
      }
    }
  }

}