@import '../assets/styles/case.scss';

.main{
  background: $mainBackground;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 767.98px){
  .main{
    background:#0e257c;
  }
}