<section class="person">
  <div class="download" *ngIf="!results; else resultsWrap">

  </div>
  <ng-template #resultsWrap>
    <div id="{{person.id}}" *ngFor="let person of results" class="person__card">
      <img class="card__image"
        [src]="person.profile_path ? 'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + person.profile_path : './assets/images/question.jpg'"
        alt="img">
      <h3 class="card__title">
        {{person.name}}
      </h3>
      <!-- <p class="person-card__date">
        {{SetShortDateService.setShortDate(person.release_date) | date: 'mediumDate'}}
      </p> -->
      <!-- <div class="person-card__vote" [ngClass]="{
        'person-card__vote_background-color_red': person.vote_average < 4,
        'person-card__vote_background-color_yellow': person.vote_average < 7,
        'person-card__vote_background-color_green': person.vote_average >= 7
      }">
        {{person.vote_average}}
      </div> -->
    </div>
  </ng-template>
  <div class="person__slider" (click)='changePage($event)' *ngIf="data">
    <button id='firstPage' class="slider__arrows" [disabled]="page === 1"
      [ngStyle]="{visibility: page === 1 ? 'hidden' : 'visible'}">
      &#9668;
      &#9668;
    </button>
    <button id='minusPage' class="slider__arrows" [disabled]="page === 1"
      [ngStyle]="{visibility: page === 1 ? 'hidden' : 'visible'}">
      &#9668;
    </button>
    <span class="slider__value" [ngStyle]="{visibility: this.data.total_pages <= 1 ? 'hidden' : 'visible'}">
      {{page}}
    </span>
    <button id='plusPage' class="slider__arrows" [disabled]="page === this.data.total_pages"
      [ngStyle]="{visibility: page === this.data.total_pages ? 'hidden' : 'visible'}">
      &#9658;
    </button>
    <button id='lastPage' class="slider__arrows" [disabled]="page === this.data.total_pages"
      [ngStyle]="{visibility: page === this.data.total_pages ? 'hidden' : 'visible'}">
      &#9658;
      &#9658;
    </button>
  </div>
</section>