$mainBackground: linear-gradient(90deg, #0e257c 15%, rgba(12, 22, 25, 1) 100%);
$defaultVoteColor: rgb(66, 66, 55);
$defaultWhiteColor: #fff;
$defaultBlackColor: #000;
$cardBgColor: #fafafa;
$hoverShadowColor: rgba(0, 0, 0, 0.8);
$goodVoteBgColor: #66cc33;
$normalVoteBgColor: #d8aa1f;
$badVoteBgColor: #ff0000;
$searchButtonColor: rgb(0, 153, 255);
$colorsOfLoader: #ffffff, #d6d6d6, #bebebe, #b8b8b8, #adadad;
$describeBgColor: linear-gradient(90deg, rgba(0, 0, 0, 0.98) 0%, $hoverShadowColor 70%);
$withDescription: 75%;
$heightDescription: 600px;
$widthUsername: 150px;
$diameterOfVote: 42px;
$widthIconButtons: 46px;
$bRadiusOfRound: 50%;
$radiusOfSearch: 32px;
$paddingOfSearch: 10px 20px;
$linesOfOverview: 15;
$minLinesOfOverview: 3;
$generalDelayLoad: 100ms;
$intervalLoading: 1s;
$backgroundSizeTitleLink: 80% 3px, auto;
$backgroundSizeLink: 75% 3px, auto;
