$mainBackground: linear-gradient(90deg, #0e257c 15%,  rgba(12,22,25,1) 100%);

%page {
  position: relative;
  width: 1340px;
  min-height: 100vh;
  margin: auto;
  padding: 130px 0px 110px 200px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
  justify-content: space-between;
  background-color: transparent;
}
%filmCard {
  position: relative;
  border-radius: 10px;
  max-height: 550px;
  background-color: #fafafa;
  overflow: hidden;
  transition: all 0.2s;
}
%image {
  width: 100%;
  height: 377px;
  }
%title{
  padding-left: 10px;
}
%vote{
  position: absolute;
  top: 360px;
  right: 20px;
  padding: 12px 10px;
  min-width: 41.5px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgb(66, 66, 55);
  color: #fff;
  font-weight: 700;
  text-align: center;
}
%colorGreen{
  background-color: #66cc33;
}
%colorYellow{
  background-color: #ffcc33;
}
%colorRed{
  background-color: #ff0000;
}
%hover{
  -webkit-box-shadow: 0px 0px 4px 4px rgba(255,255,255,0.5); 
  box-shadow: 0px 0px 4px 4px rgba(255,255,255,0.5);
  cursor: pointer;
}

%sliderBlock{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 60px;
  padding-left: 200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
%sliderArrows{
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
  outline: none;
}
%sliderPage{
  margin: 0 10px;
  color: #fff;
  text-align: center;
}
%sliderArrowsHover{
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.slider-arrows:disabled{
  opacity: 0;
}
%download{
  position: absolute;
  top: 40%;
  right: 40%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-bottom:  3px solid transparent;
  border-radius: 50%;
  animation: loading 1s linear 0s infinite normal forwards;
}

@keyframes loading{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}