@import '../../assets/styles/case.scss';

.home{
  @extend %page;
  display: block;
  .home__welcome{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .welcome__title{
      margin-top:0;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
    }
    .welcome__search-wrap{
      position: relative;
      box-sizing: border-box;
      width: 80%;
      .welcome__search{
        width: 100%;
        z-index: 2;
        padding: 10px 20px;
        border:none;
        border-radius: 32px;
        box-sizing: border-box;
        outline: none;
      }
      .welcome__search-button{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        padding: 10px 20px;
        border:none;
        border-radius: 32px;
        color: #fff;
        background-color: rgb(0, 2, 124);
        outline: none;
        transition: all 0.2s;
      }
      .welcome__search-button:hover{
        color:  rgb(0, 2, 124);
        background-color: #fff;
        cursor: pointer;
      }
    }
    
  }
  .search-result{
    @extend %page;
    width: 100%;
    padding: 40px 0 30px;
    min-height: auto;
    .search-result__result-card{
      @extend %filmCard;
      .result-card__image{
        @extend %image;
      }
      .result-card__title,
      .result-card__date{
        @extend %title;
      }
      .result-card__know{
        margin: 10px 0;
        padding-left: 10px;
        list-style-type: none;
        .know__name{
          padding: 5px 0 0 10px;
        }
      }
      .result-card__vote{
        @extend %vote;
      }
      .result-card__vote_background-color_green{
        @extend %colorGreen;
      }
      .result-card__vote_background-color_yellow{
        @extend %colorYellow;
      }
      .result-card__vote_background-color_red{
        @extend %colorRed;
      }
    }
    .search-result__result-card:hover{
      @extend %hover;
    }
  }
  .home__slider{
    @extend %sliderBlock;
    .slider__arrows{
      @extend %sliderArrows;
    }
    .slider__value{
      @extend %sliderPage;
    }
    .slider__arrows:hover:not(:disabled){
      @extend %sliderArrowsHover;
    }
  }
  .home__no-results{
    margin: 40px 0;
    color: #fff;
    font-size: 26px;
    text-align: center;
  }
}
@media (max-width: 1399.98px){
  .home{
    width: 85%;
    &,
    .search-result{
      grid-gap: 1.5vw;
      .search-result__result-card{
        .result-card__image{
          height: auto;
        }
        max-height: 450px;
        .result-card__title{
          font-size: 16px;
        }
        .result-card__date{
          font-size: 14px;
        }
        .result-card__vote{
          top: 5px;
          right: 5px;
          padding: 6px 4px;
          min-width: 28px;
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 1023.98px){
  .home{
    .search-result{
      grid-template-columns: 1.2fr 1.2fr 1.2fr ;
    }
  }
  
}
@media (max-width: 767.98px){
  .home{
    width: 95%;
    padding: 120px 0 120px;
    .search-result{
      width: 95%;
      .search-result__result-card{
        .result-card__title{
          font-size: 14px;
        }
        .result-card__date{
          font-size: 12px;
        }
        .result-card__vote{
          min-width: 25px;
          font-size: 12px;
        }
        
      }
    }
    .home__slider{
      padding-left: 0;
    }
  }
}
@media (max-width: 449.98px){
  .home{
    &,
    .search-result{
      grid-template-columns: 1.5fr 1.5fr ;
    }
  }
}