@import '../../assets/styles/case.scss';

.home{
  @extend %page;
  display: block;
  .home__welcome{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .welcome__title{
      margin-top:0;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
    }
    .welcome__search{
      width: 500px;
      z-index: 2;
      padding: 5px 10px;
      border:none;
      border-radius: 32px;
      outline: none;
    }
    .welcome__search-button{
      position: absolute;
      top: 63px;
      right: 309px;
      z-index: 3;
      padding: 5px 10px;
      border:none;
      border-radius: 32px;
      color: #fff;
      background-color: rgb(0, 2, 124);
      outline: none;
      transition: all 0.2s;
    }
    .welcome__search-button:hover{
      color:  rgb(0, 2, 124);
      background-color: #fff;
      cursor: pointer;
    }
  }
  .searchResult{
    @extend %page;
    width: 100%;
    padding: 40px 0 30px;
    .search-result__result-card{
      @extend %filmCard;
      max-height: 500px;
      .result-card__image{
        @extend %image;
      }
      .result-card__title,
      .result-card__date{
        @extend %title;
      }
      .result-card__vote{
        @extend %vote;
      }
      .result-card__vote_background-color_green{
        @extend %colorGreen;
      }
      .result-card__vote_background-color_yellow{
        @extend %colorYellow;
      }
      .result-card__vote_background-color_red{
        @extend %colorRed;
      }
    }
    .search-result__result-card:hover{
      @extend %hover;
    }
    // .download{
    //   width: 100%;
    //   height: 30vh;
    // }
  }
  .home__slider{
    @extend %sliderBlock;
    .slider__arrows{
      @extend %sliderArrows;
    }
    .slider__value{
      @extend %sliderPage;
    }
    .slider__arrows:hover:not(:disabled){
      @extend %sliderArrowsHover;
    }
  }
  .home__no-results{
    margin: 40px 0;
    color: #fff;
    font-size: 26px;
    text-align: center;
  }
}