<section class="home">
  <div class="home__welcome">
    <h1 class="welcome__title">
      Welcome to "Good films"
    </h1>
    <div class="welcome__search-wrap">
      <input class="welcome__search" (keyup.enter)="getNewData(searchInput.value)" #searchInput maxlength="40"
        placeholder="Search for a movie, tv show, person......">
      <button class="welcome__search-button" (click)="getNewData(searchInput.value)">
        Search
      </button>
    </div>
  </div>

  <div class='search-result' *ngIf="results && results.length">
    <div id="{{result.id}}" *ngFor="let result of results" class="search-result__result-card">
      <img class="result-card__image"
        [src]="result.poster_path ? 'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + result.poster_path : result.profile_path ? 'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + result.profile_path : '../../../assets/images/question.jpg'"
        alt="img">
      <h3 class="result-card__title">
        {{result.original_title ? result.original_title : result.name}}
      </h3>
      <p class="result-card__date" *ngIf="(result.release_date || result.first_air_date); else infoAboutPerson">
        {{SetShortDateService.setShortDate(result.release_date ? result.release_date : result.first_air_date) | date:
        'mediumDate'}}
      </p>
      <ng-template #infoAboutPerson>
        <ul class="result-card__know">
          {{result.known_for_department}}:
          <li *ngFor="let project of result.known_for" class="know__name">
            {{project.title || project.name}}
          </li>
        </ul>
      </ng-template>
      <div class="result-card__vote" *ngIf="result.vote_average >= 0" [ngClass]="{
          'result-card__vote_background-color_red': result.vote_average < 4,
          'result-card__vote_background-color_yellow': result.vote_average < 7,
          'result-card__vote_background-color_green': result.vote_average >= 7
        }">
        {{result.vote_average}}
      </div>
    </div>
  </div>
  <div class="home__slider" (click)='changePage($event)' *ngIf="results && results.length">
    <button id='firstPage' class="slider__arrows" [disabled]="page === 1"
      [ngStyle]="{visibility: page === 1 ? 'hidden' : 'visible'}">
      &#9668;
      &#9668;
    </button>
    <button id='minusPage' class="slider__arrows" [disabled]="page === 1"
      [ngStyle]="{visibility: page === 1 ? 'hidden' : 'visible'}">
      &#9668;
    </button>
    <span class="slider__value">
      {{page}}
    </span>
    <button id='plusPage' class="slider__arrows" [disabled]="page === this.data.total_pages"
      [ngStyle]="{visibility: page === this.data.total_pages ? 'hidden' : 'visible'}">
      &#9658;
    </button>
    <button id='lastPage' class="slider__arrows" [disabled]="page === this.data.total_pages"
      [ngStyle]="{visibility: page === this.data.total_pages ? 'hidden' : 'visible'}">
      &#9658;
      &#9658;
    </button>
  </div>
  <div class="home__no-results" *ngIf="results && !results.length">
    Sorry, no results were found for your search.
  </div>

</section>