@import '../../../assets/styles/case.scss';

.popular{
  @extend %page;
  .popular__film-card{
    @extend %filmCard;
  .film-card__image{
    @extend %image;
    }
    .film-card__title,
    .film-card__date{
      @extend %title;
    }
    .film-card__vote{
      @extend %vote;
    }
    .film-card__vote_background-color_green{
      @extend %colorGreen;
    }
    .film-card__vote_background-color_yellow{
      @extend %colorYellow;
    }
    .film-card__vote_background-color_red{
      @extend %colorRed;
    }
  }
  .popular__slider{
    @extend %sliderBlock;
    .slider__arrows{
      @extend %sliderArrows;
    }
    .slider__value{
      @extend %sliderPage;
    }
    .slider__arrows:hover:not(:disabled){
      @extend %sliderArrowsHover;
    }
  }
  .popular__film-card:hover{
    @extend %hover;
  }
  .download{
    @extend %download;
  }
}
@media (max-width: 1399.98px){
  .popular{
    width: 85%;
    padding: 130px 0px 110px 200px;
    grid-gap: 1.5vw;
    .popular__film-card{
      max-height: 450px;
      .film-card__title{
        font-size: 16px;
      }
      .film-card__date{
        font-size: 14px;
      }
      .film-card__vote{
        top: 5px;
        right: 5px;
        padding: 6px 4px;
        min-width: 28px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 1023.98px){
  .popular{
    grid-template-columns: 1.2fr 1.2fr 1.2fr ;
  }
}
@media (max-width: 767.98px){
  .popular{
    width: 95%;
    padding: 120px 0 120px;
    .popular__film-card{
      .film-card__title{
        font-size: 14px;
      }
      .film-card__date{
        font-size: 12px;
      }
      .film-card__vote{
        min-width: 25px;
        font-size: 12px;
      }
      
    }
    .popular__slider{
      padding-left: 0;
    }
  }
}
@media (max-width: 449.98px){
  .popular{
    grid-template-columns: 1.5fr 1.5fr ;
  }
}